/* Import all the style files, make sure variables.less goes first. */
/* section#intro */
/* section#style */
/* section#networks */
/* section#info */
/* section#info -> backgrounds of form elements */
/* section#preview */
/* section#code */
/* section#attributions */
/* section#style -> backgrounds of form elements */
html,
body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.1em;
  margin: 0;
  height: 100%;
  min-height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffff71;
  color: #333333;
  line-height: 1.5em;
}
header {
  text-align: center;
}
header p {
  text-align: left;
}
.site-logo {
  font-family: 'Fjalla One', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  margin: 1em 0;
}
h4 {
  text-align: center;
  padding-bottom: 5em;
}
sub {
  font-size: 0.5em;
}
nav,
nav ul,
nav li {
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  font-weight: normal;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
@media (max-width: 1110px) {
  nav {
    padding: 10px 0;
  }
}
.share-buttons-margin {
  margin: 2em 0 3em !important;
}
.share-buttons,
nav ul {
  list-style: none;
}
ul.share-buttons img {
  max-width: 32px;
}
nav ul li {
  display: inline;
  float: none;
}
nav ul li a {
  float: none;
  text-decoration: none;
}
nav ul li a span.label:hover {
  border-bottom: 2px solid #525252;
}
a {
  font-weight: bold;
  color: #454545;
}
nav .fa,
.fa-hand-o-right {
  padding-right: 0.5em;
}
.back-to-top,
.next {
  right: 0;
  bottom: 0;
  margin-left: 2em;
  text-decoration: none;
  font-size: 1.4em;
  background: #ffff71;
  padding: 0.5em;
}
.next {
  position: absolute;
}
.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
}
.back-to-top:hover,
.next:hover {
  text-decoration: underline;
}
.back-to-top.back-to-top-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
}
.back-to-top.back-to-top-visible {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
textarea {
  min-height: 120px;
}
#generated_html,
#generated_css {
  font-family: monospace;
  font-size: 1.2em;
  padding: 1em;
  outline: none;
}
section {
  padding: 1em 0;
}
section#intro {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffff71;
  color: #333333;
}
section#style {
  background-color: #3bafda;
}
section#networks {
  background-color: #a0d468;
}
section#info {
  background-color: #ac92ec;
}
section#preview {
  background-color: #d770ad;
}
section#code {
  background-color: #e9573f;
}
section#about {
  background-color: #ffff71;
}
div.intro {
  max-width: 1024px;
  margin: 0 auto;
}
div#section-content,
div#intro-content {
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
div#section-content {
  max-width: 1024px;
  min-height: 80vh;
  padding-bottom: 4em;
}
section#intro header {
  margin-bottom: 2em;
}
section#intro a:hover {
  text-decoration: underline;
}
div.intro-content {
  margin: 3em auto;
}
div.intro-content p {
  margin: 1em auto !important;
  padding: 1em !important;
}
.big {
  min-height: 100%;
  width: 100%;
  padding-top: 2em;
}
.big p,
.big form {
  max-width: 100%;
  margin: 1em auto;
  padding: 10px;
}
p.download-wrapper {
  margin-top: 4em;
}
#attributions ul {
  max-width: 1024px;
  margin: 0 auto;
  padding: 3em 3em 0;
}
.big label {
  cursor: pointer;
  background: #ffff71;
  padding: 0.8em;
  line-height: 3.2em;
  white-space: nowrap;
}
#form-style label {
  line-height: 3em !important;
  border-bottom: 2px dashed #2a9ec9;
  background-color: #4fc1e9;
}
div.night #form-style label {
  border-bottom: none;
}
#form-style label:last-of-type {
  border-bottom: none;
}
p.center-text {
  text-align: center;
}
p.hashtags {
  font-style: italic;
  margin-top: 8em;
  padding-top: 3em;
  border-top: 3px dashed rgba(40, 40, 40, 0.1);
  font-size: 0.8em;
  text-align: center;
  font-family: monospace;
}
p.hashtags a {
  text-decoration: none !important;
}
p.hashtags a:hover {
  text-decoration: underline !important;
}
button,
.tip-choice {
  margin-left: 0.5em;
  font-size: 1em;
  padding: 0.5em;
  background: #ffff71;
  border: none;
}
button:hover,
.tip-choice:hover {
  cursor: pointer;
}
button {
  padding: 0.55em !important;
}
.big input {
  padding: 1em;
  margin: 0 0 1em;
}
.mode-selection {
  padding-bottom: 0 !important;
  text-align: center;
}
.mode-instructions {
  padding-bottom: 0 !important;
}
.mode-selection label {
  margin: 0 0.5em;
}
.instructions {
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 2em 10px 1em;
  font-style: italic;
  color: #fff;
  text-align: left;
}
.instructions a {
  color: #fff;
}
div.instructions p {
  margin: 5px 0;
  padding: 5px 0;
}
input[type=checkbox],
input[type=radio] {
  display: none;
}
label.block-label {
  width: 100%;
  display: block;
}
label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 10px;
  text-align: center;
  line-height: 1em;
}
span.label {
  padding-bottom: 5px;
}
span.label.highlighted {
  /*
  text-decoration: underline;
*/
  border-bottom: 2px solid #525252;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.radio label:before {
  border-radius: 8px;
}
input[type=checkbox]:checked + label:before {
  content: "\2713";
  color: #333333;
}
input[type=radio]:checked + label:before {
  content: "\2713";
  color: #333333;
  text-align: center;
}
.one-third {
  width: 33%;
  float: left;
}
#form-networks:after {
  content: "";
  display: table;
  clear: both;
}
#form-style {
  text-align: center;
}
#form-style img {
  display: block;
  margin: 0 auto;
}
#form-networks {
  max-width: 640px;
}
#website-info input,
#website-info textarea {
  padding-top: 3em;
  width: 100%;
  background: #967adc;
  color: #fff;
}
#website-info .fa {
  color: #fff;
}
form#website-info ul {
  padding-left: 0;
}
form#website-info ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#generated-code textarea {
  width: 100%;
  min-height: 300px;
  background: #ffff71;
  color: #333333;
  margin-bottom: 2em;
}
div.night #generated-code textarea {
  color: #fff;
}
.fa-preview i {
  color: #fff;
  padding: 10px;
}
::-webkit-input-placeholder {
  font-family: sans-serif;
  color: #fff;
}
:-moz-placeholder {
  font-family: sans-serif;
  color: #fff;
}
::-moz-placeholder {
  font-family: sans-serif;
  color: #fff;
}
:-ms-input-placeholder {
  font-family: sans-serif;
  color: #fff;
}
textarea,
input {
  border: 0;
  font-size: 0.9em;
  font-family: 'Merriweather Sans', sans-serif;
}
#website-info textarea {
  margin: 0 0 1em;
  padding: 3em 1em 1em 1em;
}
.alt-label,
.alt-alt-label {
  padding: 1em;
  line-height: 3.2em;
  font-style: italic;
}
p.try-it {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 1.8em;
  margin-bottom: 0;
  text-align: center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.help {
  cursor: help;
}
.alt-label {
  background: #ffff71;
  margin: 0;
  padding: 10px;
}
.alt-alt-label,
#download {
  background: #ffff71;
}
#download {
  line-height: 3.2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4em;
  padding: 1em 2em;
}
section.big.night {
  border-bottom: 3px dashed #747474;
}
.night,
label.night {
  color: #efefef;
  -webkit-transition: all 1s fade-in-out;
  transition: all 1s fade-in-out;
}
.night {
  background: #525252 !important;
}
a#download.night,
nav.night,
nav ul.night,
nav li.night,
nav a.night,
nav .fa.night,
nav span.night,
.fa.night,
.next.night,
.back-to-top.night,
sup.night,
label.night,
img.night,
.fa-preview.night,
.tip-choice.night,
#tip-me button.night,
#tip-me button strong.night,
p.instructions.night,
p.instructions.night a.night,
p.instructions.night strong {
  background: #636363 !important;
}
label.infield.night,
.preview-image-wrapper.night img,
.fa-magic.night,
div#intro-content .fa.night {
  background: #525252 !important;
}
label.night:before {
  color: #525252 !important;
  background: #efefef !important;
}
#preview-canvas.night {
  border: 3px dashed #636363 !important;
}
div#section-content form label.infield {
  position: absolute;
  top: -1em;
  left: 0;
  font-size: 0.7em;
  background: none;
  font-style: italic;
  color: #fff;
  margin: 2em 1em;
  padding: 0;
}
div#section-content form label.infield:before {
  content: "";
  display: none;
}
textarea.night,
input.night {
  border: 1px solid #efefef !important;
}
.pull-left {
  float: left;
}
.pull-left li {
  padding: 0 0.5em;
}
@media (max-width: 1110px) {
  .pull-left li {
    padding: 0 5px;
  }
}
.pull-right {
  float: right;
}
.fa {
  min-width: 1em;
  text-align: center;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 5px;
}
#preview-canvas {
  text-align: center;
  border: 3px dashed #e881be;
  padding: 3em;
}
#magic {
  font-size: 1.5em;
  float: right;
  position: absolute;
  top: 2em;
  right: 10px;
}
#magic:hover {
  cursor: pointer;
}
.white {
  color: #f9f9f9;
}
.preview-image-wrapper img {
  display: block;
  min-width: 100px;
  max-width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
[selectallnetworks] {
  cursor: pointer;
}
[sitesummary],
[sitesummary]:hover {
  -webkit-transition: all 0.4s cubic-bezier(1, -1, 0.405, 2);
  transition: all 0.4s cubic-bezier(1, -1, 0.405, 2);
}
[sitesummary]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/** Default CSS for preview **/
.share-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.share-buttons li {
  display: inline;
}
.fa-cc-paypal {
  font-size: 1.5em !important;
  vertical-align: middle !important;
}
#tip-me-btc {
  width: 50%;
  text-align: center;
  margin: 45px auto;
  padding-bottom: 3em;
  background: #ffff71;
}
#tip-me-btc p.btc-address {
  font-family: monospace;
}
p.small-note {
  font-style: italic;
  max-width: 100%;
  font-size: 0.7em;
  color: #fff;
  margin-left: 1em;
}
p.small-note a {
  color: #fff;
}
@media (max-width: 1110px) {
  body {
    margin-top: 50px;
  }
  h1,
  h2,
  h3 {
    font-size: 2em !important;
  }
  nav .fa {
    padding-right: 0;
  }
  .label,
  p.btc-address,
  span.hide-small {
    display: none;
  }
  .site-logo {
    display: inline !important;
  }
  #download {
    font-size: 0.8em;
  }
  .one-third {
    width: 100%;
    float: none;
  }
  .intro p {
    text-align: left !important;
  }
}
div#call-out {
  background-color: #fff;
  max-width: 1024px;
  padding: 10px;
  margin: 2em auto 5em;
  border: 1px solid #dddd4f;
  line-height: 1.2em;
}
div#call-out.night {
  border: 1px solid #fff;
}
div#call-out hr {
  background-color: #fff;
  border-top: 1px dashed #333333;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0;
  padding: 0.4em;
}
div#call-out p,
div#call-out form {
  max-width: 100%;
  padding: 2px 10px 10px;
}
p.call-out-label {
  font-style: italic;
  font-size: 0.8em;
  font-weight: bold;
}
p.call-out-text,
div#call-out form {
  font-size: 0.8em;
}
ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
a {
  font-weight: bold;
  color: #454545;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a i:hover,
a:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #010101;
}
.shifted,
.unshifted,
.shifted-icons {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.shifted,
.shifted-icons {
  -webkit-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  transform: translate(0, 20px);
  opacity: 0;
}
.shifted-icons {
  -webkit-transform: zoom(1.1, 1.1);
  -ms-transform: zoom(1.1, 1.1);
  transform: zoom(1.1, 1.1);
}
.shifted-reverse {
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  opacity: 0;
}
.shifted-icons {
  -webkit-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
  transform: translate(0, -100px);
}
.unshifted {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: zoom(1, 1);
  -ms-transform: zoom(1, 1);
  transform: zoom(1, 1);
}
.zoomed-in {
  -webkit-transform: zoom(1.1, 1.1);
  -ms-transform: zoom(1.1, 1.1);
  transform: zoom(1.1, 1.1);
}
.zoomed-out {
  -webkit-transform: zoom(1, 1);
  -ms-transform: zoom(1, 1);
  transform: zoom(1, 1);
}
