AddDefaultCharset UTF-8
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Credentials "true"
Addtype font/truetype .ttf
AddType text/cache-manifest .manifest
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE font/truetype
<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf|ttf|eot|svg|woff)$">
	Header set Cache-Control "max-age=29030400"
</FilesMatch>
<FilesMatch "\.(js|css|swf)$">
	Header set Cache-Control "max-age=604800"
</FilesMatch>
<FilesMatch "\.(html|htm|txt)$">
	Header set Cache-Control "max-age=86400"
</FilesMatch>
<FilesMatch "\.manifest$">
	Header set Cache-Control "no-cache"
</FilesMatch>
Header append Vary Accept-Encoding